body{
    margin: 0;
}

h1{
    margin: 0;
}
.block_autorization{
    max-width: 500px;
    height: 500px;
    background: linear-gradient(180deg, rgba(255, 163, 163, 0.2) 0%, rgba(255, 163, 163, 0) 100%);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

.block_autorization h1{
    text-align: center;
    padding-top: 20px;
}

.autorization_window{
    margin: 0 auto;
    width: 250px;
}